<!DOCTYPE html>
<html>

  <style>
  body {
  background-image: url("https://i.pinimg.com/originals/c1/16/0c/c1160c096d58961887db67f725894a10.jpg");
  font-family: papyrus;
  
  }
  h1 {
  font-size: 60px;
  text-align: center;
  }
  </style>
  
  <head>
    <title>Jane Re Character Personality Test</title>
  </head>

  <h1>
    <font color="Orange">Jane Re Character Personality Test!</font>
  </h1>
  
  <body>
    
    <center>
      
      <br>
      <br>
      <br>
      
      <form action="/play" method="GET">	
	<input type="submit" name="play" value="Play!" style="height:100px;width:200px;font-size:20pt">	
      </form>
      
      <br>
      <br>
      <br>
      
      <form action="/about" method="GET">
	<input type="submit" name="about" value="About" style="height:25px;width:50px;">    
      </form>
      
    </center>
    
  </body>
</html>
